[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/racket"]
	path = bundle/racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule "bundle/liquid"]
	path = bundle/liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown
[submodule "bundle/slim"]
	path = bundle/slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "bundle/scss"]
	path = bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/haskell"]
	path = bundle/haskell
	url = https://github.com/wlangstroth/vim-haskell.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim-less"]
	path = vim-less
	url = git://github.com/wlangstroth/vim-less
