[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/racket"]
	path = bundle/racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown
[submodule "bundle/slim"]
	path = bundle/slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "bundle/scss"]
	path = bundle/scss
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/haskell"]
	path = bundle/haskell
	url = git://github.com/wlangstroth/vim-haskell.git
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "bundle/ocaml"]
	path = bundle/ocaml
	url = git://github.com/jrk/vim-ocaml.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/leshill/vim-json.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = git://github.com/mattn/calendar-vim.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
